name: Amethyst Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: lens0021/setup-amber@v1.2.0
        with:
          amber-version: 0.5.2-nightly-2025-12-08-8439ec5

      - name: Build Amethyst
        run: amber src/main.ab -- build

      - uses: svenstaro/upload-release-action@6b7fa9f267e90b50a19fef07b3596790bb941741 # 2.11.3
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/amethyst.sh
          tag: ${{ github.ref_name }}
          overwrite: true
